{% extends 'function/base.html' %}

{% block content %}
<main class="config_table">
    <h1>CONFIG BOARD</h1>
    <form class="form__input" method="POST" action="{% url 'function:config' %}">
        {% csrf_token %}

        <section class="input__form firstName__input">
            <label for="firstName">First Name: </label>
            <input type="text" placeholder="First Name" id="firstName" autocomplete="off" name='firstname'>
        </section>

        <section class="input__form lastName__input">
            <label for="lastName">Last Name: </label>
            <input type="text" placeholder="Last Name" id="lastName" autocomplete="off" name='lastname'>
        </section>

        <section class="input__form email__input">
            <label for="email">Email: </label>
            <input type="email" placeholder="Email" id="email" autocomplete="off" name='email'>
        </section>

        <section class="input__form time__input">
            <label for="time">Input time: </label>
            <input id="time" type="input" placeholder="seconds" autocomplete="off" name="config">
        </section>

        {% comment %}
        <section class="input__form email__input idNumber__input">
            <label for="idNumber">ID Number: </label>
            <input type="number" placeholder="Id Number" id="idNumber" autocomplete="off">
        </section> {% endcomment %}

        <section class="input__form email__input source__input">
            <label>Source: </label>
            <select name="source" required>
                <option value="misp" {% if selected_source=="misp" %}selected{% endif %}>MISP</option>
                <option value="zoneh" {% if selected_source=="zoneh" %}selected{% endif %}>ZoneH</option>
            </select>
        </section>
        <section class="form__config">
            <button class="form__button" type="submit">Config</button>
            <button class="btn-pause" onclick="pauseJob()">Pause Job</button>
            <button class="btn-remuse" onclick="remuseJob()">Remuse Job</button>
            <button class="btn-stop" onclick="stopJob()">Stop Job</button>
        </section>
</main>
{% endblock content %}

{% block js %}
<script>
    function pauseJob() {
        alert("Job paused!")

        window.location.href = "{% url 'function:pause_job'%}"
    }

    function remuseJob() {
        alert("Job remused!")

        window.location.href = "{% url 'function:remuse_job' %}"
    }

    function stopJob() {
        alert("Job stopped!")

        window.location.href = "{% url 'function:stop_job' %}"
    }
</script>
{% endblock js %}