{% extends 'function/base.html' %}

{% block content %}
<form method="get" action="{% url 'function:filter' %}">
    <input type="text" id="suffix" name="suffix" placeholder="Enter .vn .com ...">
    <button type="submit">Filter</button>
</form>
{% if results %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Link</th>
                <th>Source</th>
            </tr>
        </thead>

        <tbody>
            {% for result in results %}
                <tr>
                    <td>{{ result.0 }}</td>
                    <td>{{ result.1 }}</td>
                    <td>{{ result.2 }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    {% if pages %}
        <div class="pagination">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}&suffix={{ suffix }}">Previous</a>
            {% endif %}

            {% for num in pages %}
                {% if num == page_obj.number%}
                    <span class="page-number current">{{ num }}</span>
                {% else %}
                    <a href="?page={{ num }}&suffix={{ suffix }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}&suffix={{ suffix }}">Next</a>
            {% endif %}
        </div>
    {% endif %}
{% else %}
    <p>{{ noresult }}</p>
{% endif %}


{% if result %}
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Link</th>
                <th>Source</th>
            </tr>
        </thead>

        <tbody>
            {% for row in result %}
                <tr>
                    <td>{{ row.0 }}</td>
                    <td>{{ row.1 }}</td>
                    <td>{{ row.2 }}</td>
                    </tr>
            {% endfor %}
        </tbody>
    </table>

    <div class="pagination">
        {% if pages %}
            {% if pages|length > 1 %}
                <span class="page-links">
                    {% if page_obj.has_previous %}
                        <a href="?page={{ page_obj.previous_page_number}}">previous</a>
                    {% endif %}

                    {% for page_num in pages %}
                        {% if page_num == page_obj.number %}
                            <span class="page-current">{{ page_num }}</span>
                        {% else %}
                            <a href="?page={{ page_num }}">{{ page_num }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.next_page_number}}">next</a>
                    {% endif %}
                </span>
            {% endif %}
        {% endif %}
    </div>
{% endif %}
{% endblock content %}