{% extends 'core/base.html' %}
{% load static %}

{% block css %}
<!--     Fonts and icons     -->
<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
<!-- CSS Files -->
<!-- <link href="{%static 'core/css/bootstrap.min.css' %}" rel="stylesheet" /> -->
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="{%static 'core/css/main.css' %}" rel="stylesheet" />
<link rel="apple-touch-icon" sizes="76x76" href="{%static 'core/img/apple-icon.png' %}">
<link rel="icon" type="image/png" href="{%static 'core/img/favicon.ico' %}">
<link rel="stylesheet" href="{%static 'core/css/chart.css'%}">
{% endblock css%}

{% block content %}
<div class="layout">
    <section class="sidebar">
        <h1>KMP SOC</h1>
        <ul class="menu_board">
            <li class="menu_content"><a class="nav-link" href="{% url 'home' %}">Dash board</a></li>
            <li class="menu_content"><a class="nav-link" href="{% url 'function:config'%}">Config</a></li>
            <li class="menu_content"><a class="nav-link" href="{% url 'function:list' %}">Result</a></li>
            <li class="menu_content"><a class="nav-link" href="{% url 'function:search' %}">Search</a></li>
            <li class="menu_content"><a class="nav-link" href="{% url 'function:feedback' %}">Feedback</a></li>
        </ul>
    </section>

    <div class="chart-wrapper">
        <h2>Percentage proportion chart of attacked websites.</h2>
        <div class="chart_content">
            <div class="pie-chart chart-container">
                <p>Pie Chart</p>
                <canvas id='myPieChart'></canvas>
            </div>

            <div class="bar-chart chart-container">
                <p>Bar Chart</p>
                <canvas id="myBarChart"></canvas>
            </div>
        </div>
    </div>
</div>
{% endblock content %}


{% block js %}
<!--   Core JS Files   -->
<script src="{%static 'core/js/core/jquery.3.2.1.min.js' %}" type="text/javascript"></script>
<script src="{%static 'core/js/core/popper.min.js' %}" type="text/javascript"></script>
<script src="{%static 'core/js/core/bootstrap.min.js' %}" type="text/javascript"></script>
<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
<script src="{%static 'core/js/plugins/bootstrap-switch.js' %}"></script>
<!--  Google Maps Plugin    -->
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
<!--  Chartist Plugin  -->
<script src="{%static 'core/js/plugins/chartist.min.js' %}"></script>

<!-- Control Center for Light Bootstrap Dashboard: scripts for the example pages etc -->
<script src="{%static 'core/js/light-bootstrap-dashboard.js'%}" type="text/javascript"></script>
<!-- Light Bootstrap Dashboard DEMO methods, don't include it in your project! -->
<script src="{%static 'core/js/demo.js' %}"></script>
<script type="text/javascript">
    $(document).ready(function () {
        // Javascript method's body can be found in assets/js/demos.js
        demo.initDashboardPageCharts();

        demo.showNotification();

    });
</script>

{% comment %} <script src="https://cdn.jsdelivr.net/npm/chart.js"></script> {% endcomment %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-chartjs@1.1.0/dist/chartjs-adapter-chartjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-chart3d@1.1.0/dist/chartjs-plugin-chart3d.min.js"></script>
<script>
    // Pie Chart
    var ctx = document.getElementById('myPieChart').getContext('2d');
    var myPieChart = new Chart(ctx, {
        type: '{{ chart_data_pie.type }}',
        data: {
            labels: {{ chart_data_pie.labels | safe }},
    datasets: [{
        data: {{ chart_data_pie.values | safe }},
        backgroundColor: [
        'rgba(255, 99, 132, 0.2)',
        'rgba(54, 162, 235, 0.2)'
    ],
        borderColor: [
        'rgba(255, 99, 132, 1)',
        'rgba(54, 162, 235, 1)'
    ],
        borderWidth: 1
            }]
        },
    options: {
        responsive: false,
            maintainAspectRatio: false
    }
    });
    // Bar Chart
    var ctxBar = document.getElementById('myBarChart').getContext('2d');
    var myBarChart = new Chart(ctxBar, {
        type: '{{ chart_data_bar.type }}',
        data: {
            labels: {{ chart_data_bar.labels | safe }},
    datasets: [{
        label: '# of Links',
        data: {{ chart_data_bar.values | safe }},
        backgroundColor: 'rgba(54, 162, 235, 0.2)',
        borderColor: 'rgba(54, 162, 235, 1)',
        borderWidth: 1
            }]
        },
    options: {
        responsive: false,
            maintainAspectRatio: false,
                scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true
                }
            }]
        }
    }
    });
</script>
{% endblock js %}