body {
    display: grid;
    grid-auto-columns: 1fr 4fr;
    place-items: center;
}
/* for button pause and remuse */
.btn-pause {
    background-color: red;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-remuse {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
